*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    box-sizing: border-box;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav header a{
    display: inline-block;
    color: black;
    padding: 0 50px;
    text-decoration: none;
}
nav .logo{
    font-size: 24px;
    font-weight: bold;
}
.navbar .log-in{
    font-size: 18px;
}

.navbar ul{
    float: right;
    margin-right: 40px;
    margin-bottom: 0;
    list-style: none;
}
.navbar ul li{
    padding: 0 5px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    font-size: 18px;
    text-decoration: none;
    color: blueviolet;
}